* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
#body{
    background-color: #DADBD2;
}

img{
    max-width: 100%;
}

.back-up{
    background-color: #009688;
    width: 100%;
    height: 15vh;
}
.screen{
    height: 90vh;
    border: solid 1px black;
    margin-top: -70px;
}
.side-bar{
    width: 35%;
    height: 100%;
    min-height: 600px;
   position: relative;
    background-color: #FFFFFF;
}
.chat{
    width: 65%;
    height: 100%;
    min-height: 600px;
}
.my-profile{
    height: 50px;
    width: 100%;
    background-color: #EAEAEA;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.chat-contact{
    height: 50px;
    width: 100%;
    background-color: #EAEAEA;
    border-left: solid 1px #B1B1B1;
}
.my-profile img{
    width: 40px;
    border-radius: 50%;
    margin-left: 5px;
}
.gray{
    color: #B1B1B1;
}
.notification{
    height: 70px;
    width: 100%;
    background-color: #8EDAFC;
}
.bell{
    color: white;
}
.notification h6,a{
    font-size: 12px;
    line-height: 10px;
}
.notification a{
    color: #B1B1B1;
}
.search{
    height: 35px;
    padding: 3px;
}
.left-search{
    border: solid 1px #EAEAEA;
    width: 40px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    color: #B1B1B1;
}
.search-bar{
    border: solid 1px #EAEAEA;
    height: 100%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.avatar{
    width: 55px;
    border-radius: 50%;
    margin-left: 5px;
    margin-bottom: 5px;
}
.avatar-chat{
    width: 40px;
    border-radius: 50%;
    margin-left: 5px;
    margin-bottom: 5px;
}
.contact{
    border-top: solid 1px #DADBD2;
    align-items: center;
    line-height: 0;
    cursor: pointer;
    padding-top: 6px;
    height: 65px;
    position: relative;
}
.contact span{
    font-size: 12px;
    color: #B1B1B1;
}
.overflow{
    overflow-y: scroll;
    
    height: 508px;
}
.time{
    position: absolute;
    right: 5px;
    top: 10px;
}
.other-profile{
    line-height: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.other-profile span{
    font-size: 12px;
    color: #B1B1B1;
}
.active{
    background-color: #E9EBEB;
}
.icons{
    display: flex;
    justify-content: end;
    flex-grow: 1;
}
.chat-screen{
    width: 100%;
    height: 560px;
    background-image: url(./img/mine.jpg);
    overflow-y: scroll;
}
.write-message{
    background-color: #F3EEEA;
    width: 100%;
    height: 54px;
}
.message-bar{
    padding: 8px;
    border-radius: 10px;
    border: transparent;
}
.sent{
    width: 170px;
    border-radius: 12px;
    padding: 6px;
    background-color: #D5F9BA; 
    align-self: flex-end;
    margin-bottom: 15px; 
}
.received{
    width: 170px;
    border-radius: 12px;
    padding: 6px;
    background-color: white;
    align-self: flex-start;
    margin-bottom: 15px;
}
.dropdown{
    width: 50px;
    height: 30px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}